{% extends "base.html" %}

{% block title %}
  Quiz
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_question.css') }}">
{% endblock %}

{% block script %}
  <script defer src="{{ url_for('static', filename='js/quiz-script.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Quiz</h1>
    {% for mcq in quiz %}
      <fieldset class="form-group mcq-container">
        <h6>{{ loop.index }}. {{ mcq["question_text"] }}</h6>
        {% for option in mcq["options"] %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ mcq['question_text'] }}" value="option1" correct="{{ option[option|first] }}">
            <label class="form-check-label">{{ option|first }}</label>
          </div>
        {% endfor %}
      </fieldset>
    {% endfor %}
    <button type="button" class="btn btn-primary btn-lg" id="quiz-button-submit">Submit Quiz</button>
  </div>
{% endblock %}