{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_passage.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST" novalidate>
      {{ form.hidden_tag() }}
      <h1>Add passage</h1>

      <div class="form-group col 8">
        {{ form.passage_name.label(class="form-label mt-4") }}
        {{ form.passage_name(class="form-control") }}
        {% if form.passage_name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.passage_name.errors[0] }}
            </div>
        {% endif %}
      </div>
      <div class="form-group col 8">
        {{ form.passage_topic.label(class="form-label mt-4") }}
        {{ form.passage_topic(class="form-control") }}
        {% if form.passage_topic.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.passage_topic.errors[0] }}
            </div>
        {% endif %}
      </div>
      <br>
      <div class="form-group col 8">
        {{ form.passage_text.label(class="form-label mt-4") }}
        {{ form.passage_text(class="form-control", rows=10) }}
        {% if form.passage_text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.passage_text.errors[0] }}
            </div>
        {% endif %}
      </div>

{#        <textarea>{{ text }}</textarea>#}
      <button type="submit" class="btn btn-lg btn-primary" style="margin-top: 3%">Submit</button>
    </form>
  </div>
{% endblock %}